// COLORS

$white: #ffffff;
$black: #000;

$gray: #9c9b9b;
$light-gray: #b8b1b1;
$dark-gray: #757373;
$hover-gray: #817f7f;
$light-gray-bg: #e0dcdc;
$gradient: linear-gradient(90deg, rgba(169,167,179,1) 0%, rgba(129,125,125,1) 30%, rgba(68,68,65,1) 100%);

$text-color-black: rgb(48,48,48);
$light-black: rgba(255, 255, 255, 0.1);
$dark-text: $black;
$dark-primary-text: $text-color-black;
$light-text: $white;
$light-primary-text: $light-text;

// WIDTH
$navbar-width: 85px;