@use '@angular/material' as mat;
@include mat.core();
@import './assets/variables.scss';

$rm-web-primary: mat.define-palette(mat.$indigo-palette);
$rm-web-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$rm-web-warn: mat.define-palette(mat.$red-palette);

// Theme Config

$mat-primary: (
  main: $gray,
  lighter: $light-gray,
  darker: $dark-gray,
   contrast : (
     main: $light-primary-text,
     lighter: $dark-primary-text,
     darker: $light-primary-text,
  )
);
$theme-primary: mat.define-palette($mat-primary, main, lighter, darker);

$rm-web-theme: mat.define-light-theme((
  color: (
    primary: $theme-primary,
    accent: $rm-web-accent,
    warn: $rm-web-warn,
  )
));

@include mat.all-component-themes($rm-web-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.divider{
  background: $gray;
  height: 36px;
  width: 2px;
}

.mat-toolbar {
  background: $gradient;
}

.mat-toolbar-single-row {
  height: $navbar-width;
}